<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% if employees %}
        <table style="margin: 20px">
        <thead>
            <tr>
                <th>Full Name</th>
                <th>Gender</th>
                <th>Salary</th>
                <th>Occupation</th>
            </tr>
        </thead>
        <tbody>
            {% for i in employees %}
                <tr>
                    <td>{{ i.full_name }}</td>
                    <td>{{ i.gender }}</td>
                    <td>{{ i.salary }}</td>
                    <td>{{ i.occupation }}</td>
                    <td>
                        <form method="post" action="{% url 'profile' i.pk %}">
                            {% csrf_token %}
                            <button type="submit">Delete</button>
                        </form>
			        </td>
                    <td><a href="{% url 'employee-update' i.id %}">Edit</a></td>
                </tr>

            {% endfor %}
        </tbody>
        </table>
    {% endif %}
    <a href="{% url 'employee_form' %}">Add Employees</a>
</body>
</html>